#cloud-config
runcmd:
- [sh, -c, 'mkdir -p /opt/test-dir && chmod 0755 /opt/test-dir && chown root:root
    /opt/test-dir']
- [sh, -c, 'ln -sf /opt/test /opt/test-symlink && chmod 0755 /opt/test-symlink &&
    chown root:root /opt/test-symlink']
- [apt, install, --no-install-recommends, --allow-downgrades, -y, nginx]
- [apt-mark, hold, nginx]
- [apt, remove, --purge, --auto-remove, -y, apache2]
- [sh, -c, 'su -s /bin/bash ubuntu -c "umask 0022 && export APP_ENV=production &&
    export INSTALL_DATE=$(date) && cd /opt/myapp && [ ! -e /opt/myapp/installed.flag
    ] && (test -d /opt/myapp) && echo \''Application installed successfully\'' > /opt/myapp/installed.flag"']
- [sh, -c, '! (test -f /opt/myapp/installed.flag) && ls -lah /opt/myapp']
- [sh, -c, (systemctl is-active nginx) && systemctl restart nginx]
write_files:
- path: /opt/test
  owner: root:root
  permissions: '0644'
  content: |
    Original file!
- path: /opt/test-source
  owner: root:root
  permissions: '0755'
  source:
    uri: https://raw.githubusercontent.com/canonical/cloud-init/main/doc/examples/cloud-config.txt
groups:
- devops
- monitoring
- docker
users:
- default
- name: user
  gecos: DevOps Student
  primary_group: devops
  shell: /bin/bash
  uid: 1111
  expiredate: '2025-12-31'
  plain_text_passwd: plain_password
  lock_passwd: false
  ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFakeBase64HereOnlyAsExample comment
  sudo: ALL=(ALL) NOPASSWD:ALL
  create_groups: true
- name: prometheus
  gecos: System monitoring user
  primary_group: monitoring
  shell: /bin/false
  plain_text_passwd: prometheus
  lock_passwd: false
  no_create_home: true
package_upgrade: false
ssh_deletekeys: true
ssh_genkeytypes: [ed25519, rsa]
disable_root: true
ssh_publish_hostkeys:
  enabled: true
  blacklist: [rsa]
bootcmd:
- [mkdir, -p, /run/early-setup]
- [sh, -c, echo 'bootcmd started at $(date)' >> /var/log/cloud-init.log]
swap:
  filename: /swapfile
  size: 1G
  maxsize: 2G
growpart:
  mode: auto
  devices: [/]
  ignore_growroot_disabled: true
resize_rootfs: true
ntp: # đang lỗi với ntp
  enabled: true
  ntp_client: chrony
  servers:
  - 0.int.pool.ntp.org
  - 1.int.pool.ntp.org
  pools: [2.int.pool.ntp.org]
power_state:
  delay: now
  mode: reboot
  message: Rebooting to apply package updates...
  timeout: 30
  condition: [/usr/bin/test, -f, /var/run/reboot-required]
package_reboot_if_required: true
package_update: true
hostname: toanquoc
preserve_hostname: false
create_hostname_file: true
fqdn: toanquoc.example.com
prefer_fqdn_over_hostname: false
manage_etc_hosts: false
timezone: Asia/Ho_Chi_Minh
locale: en_US.UTF-8
