#cloud-config
runcmd:
- powershell.exe -ExecutionPolicy Bypass -File "C:\Windows\Temp\install-choco.ps1"
- powershell.exe -Command "choco feature enable -n=allowGlobalConfirmation"
- powershell.exe -Command "choco install git -y"
- powershell -Command "Get-Date | Out-File C:\Windows\Temp\cloud-init-start.log"
- netsh advfirewall firewall add rule name="Allow SSH" dir=in action=allow protocol=TCP
  localport=22
- powershell -Command "Get-ComputerInfo | Out-File C:\Windows\Temp\system-info.log"
write_files:
- path: C:\Windows\Temp\install-choco.ps1
  permissions: '0644'
  content: |
    Set-ExecutionPolicy Bypass -Scope Process -Force
    [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
    iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
- path: C:\ProgramData\app-config.yaml
  permissions: '0640'
  content: |
    ---
    node_ip: '{{ ds.meta_data.local_ipv4 }}'
    hostname: '{{ ds.meta_data.hostname }}'
    environment: production
- path: C:\Windows\Temp\cloud-init-complete.txt
  permissions: '0644'
  content: |
    Q2xvdWQtaW5pdCBjb21wbGV0ZWQgc3VjY2Vzc2Z1bGx5
  encoding: b64
set_hostname: toanwuoc-win-host
set_timezone: Asia/Saigon
ntp:
  enabled: true
  servers:
  - time.windows.com
  - 0.pool.ntp.org
groups:
- cloud-admins
- cloud-users
users:
- name: toanwuoc_admin
  gecos: Cloud Administrator
  primary_group: Administrators
  groups: cloud-admins
  passwd: ToanWuoc123@
  inactive: false
- name: toanwuoc_user
  gecos: Application User
  primary_group: Users
  groups: cloud-users
  passwd: ToanWuoc123@
  ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABbyV
  inactive: false
