#cloud-config
runcmd:
- [sh, -c, 'mkdir -p /opt/test-dir && chmod 0755 /opt/test-dir && chown root:root
    /opt/test-dir']
- [sh, -c, 'ln -sf /opt/test /opt/test-symlink && chmod 0755 /opt/test-symlink &&
    chown root:root /opt/test-symlink']
write_files:
- path: /opt/test
  owner: root:root
  permissions: '0644'
  content: |
    Original file!
groups:
- devops
- monitoring
- docker
users:
- default
- name: user
  gecos: DevOps Student
  primary_group: devops
  shell: /bin/bash
  uid: 1111
  expiredate: '2025-12-31'
  plain_text_passwd: plain_password
  lock_passwd: false
  ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFakeBase64HereOnlyAsExample comment
  sudo: ALL=(ALL) NOPASSWD:ALL
  create_groups: true
- name: prometheus
  gecos: System monitoring user
  primary_group: monitoring
  shell: /usr/false
  plain_text_passwd: prometheus
  lock_passwd: false
  no_create_home: true
